@import "reset.css";
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}
a,a:hover,a:active,a:visited{
    text-decoration: none;
}
img{
    width: 100%;
}

